section {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    padding-left: 150px;
}
a{
    font-size: xx-large;
    line-height: 60px;
    color: red;
}
h1{
    color: rgb(93, 106, 28);
    font-size: xx-large;
    font-weight: bolder;
}
img{
    margin-left: -100px;
}