form{
    margin-top: 50px;
    margin-left: 10%;
    justify-content: center;
}
.btn{
margin-left: 5%;
}
select{
    width: 100px;
}
mat-card{
    margin-top: 50px;
    margin-left: 30%;
   width: 400px;
}
