
.form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-left: 18em;
    width: 50%;
    font-size: medium;
    }
  .backcolor{
    background-color:aliceblue;
  }

  button {
    margin-right: 10px;
    padding: 0 40px; 
    margin:15px;
    font-size: large;
  }
  
  .radio-group {
    display: flex;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .radio-button {
    margin-right: 15px;
  }
  
  mat-form-field {
    display: block;
  }

  .red{
    color: red;
  }
.btn{
  margin-left: 40%;
}
  